body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #444;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
}

.dustbin {
    position: relative;
    width: 150px;
    height: 300px;
    margin: 0 20px;
}

.lid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin-top: 35%;
    background-color: rgb(12, 12, 12);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.trash {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background-color: #bbb;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

#trash-level1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #ff8c00;
    transition: height 4s ease-out;
}

#trash-level2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #d4c144df;
    transition: height 4s ease-out;
}

#trash-level3 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #9ec82d;
    transition: height 4s ease-out;
}

#trash-level4 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #e61717;
    transition: height 4s ease-out;
}

.percentage {
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

#percentage1 {
    color: rgb(106, 191, 236);
}

#percentage2 {
    color: #abd442;
}

#percentage3 {
    color: #25d722;
}

p {
    font-size: 20px;
}

.container45 {
    background-color: rgb(192, 192, 192);
    width: 80%;
    border-radius: 15px;
}